<%= form_for @group, html: {class: 'form-horizontal'} do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <% @group.errors.full_messages.each do |message| %>
      <p class='alert alert-danger'><%= message %></p>
      <% end %>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name, class: 'col-sm-1 control-label' %>
    <div class='col-sm-3'>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label :description, class: 'col-sm-1 control-label' %><br>
    <div class='col-sm-3'>
      <%= f.text_area :description, class: 'form-control' %>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label :sport, class: 'col-sm-1 control-label' %><br>
    <div class='col-sm-3'>
      <%= f.text_field :sport, class: 'form-control' %>
    </div>
  </div>
  <div class="actions form-group">
    <div class='col-sm-offset-2 col-sm-10'>
      <%= f.submit %>
    </div>
  </div>
<% end %>
