<p>
  <label>Name:</label><%= group.name %>
</p>
<p>
  <label>Description:</label><%= group.description %>
</p>
<p>
  <label>Sport:</label><%= group.sport.name if group.sport%>
</p>

<%= link_to 'Show', group %>
<% if current_user%>
  <% if current_user == group.user %>
  	|<%= link_to 'Edit', edit_group_path(group) %>
  	|<%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% else %>
  	<% unless group.members.include?(current_user)%>
      <%= link_to 'Join', join_group_path(group) %>
  	<% else%>
  	  <%= link_to 'Unjoin', unjoin_group_path(group) %>
    <% end %>
  <% end %>
<% end %>
<br><br>
