<p>
  <label>Name:</label><%= group.name %>
</p>
<%= simple_format group.description %>
<p>
  <label>Sport:</label><%= group.sport %>
</p>

<%= link_to 'Show', group %>
<% if current_user == group.owner %>
|<%= link_to 'Edit', edit_group_path(group) %>
|<%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end%>

<% unless group.users.include?(current_user)%>
  <%= link_to 'Join', {controller: "members", action: "join", group: group}%>
<% end %>