<!DOCTYPE html>
<html>
<head>
  <title>RedeSocialEsporte</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
<div class='header_menu'>
  <ul class = 'menu'>
    <li class='menu_item'><%= link_to "Groups", groups_path %></li>
    <li class='menu_item'><%= link_to "Logout" %></li>
    <li class='menu_item'>Welcome <%= current_user.name.capitalize %></li>
  </ul>
</div>
<% else %>
<div class='header_menu'>
  <ul class = 'menu'>
    <li class='menu_item'><%= link_to "Sign in", users_login_path %></li>
    <li class='menu_item'><%= link_to "Sign up", new_user_path %></li>
  </ul>
</div>
<%end%>


<%= yield %>

</body>
</html>
